* {
    font-size: 25px;
    font-family: Trebuchet MS;
}

.wrapper {
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.box {

}

li button {
    background-color:rgb(138, 89, 184);
    border-radius: 8px;
}

#startingpage {
    position: absolute;
    background-color: white;
    padding-bottom: 20%;
    text-align: center;
    padding-top: 10%;
}