* {
    font-size: 25px;
    font-family: Trebuchet MS;
  }

  #top {
    display: flex;
    justify-content: space-between;
  }

  #top p {
    margin: 0;
  }
  
  .wrapper {
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  #startingpage {
    position: absolute;
    background-color: white;
    padding-bottom: 20%;
    text-align: center;
    padding-top: 10%;
  }
  
  #answers {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }
  
  #answers button {
    background-color: rgb(138, 89, 184);
    border-radius: 8px;
    margin-top: 10px;
    min-width: 150px;
  }